[submodule "android/google-apps-messaging-core"]
	path = android/google-apps-messaging-core
	url = https://android.googlesource.com/platform/packages/apps/Messaging
[submodule "android/google-providers-telephony"]
	path = android/google-providers-telephony
	url = https://android.googlesource.com/platform/packages/providers/TelephonyProvider
