[submodule "android/google-apps-messaging-core"]
	path = android/google-apps-messaging-core
	url = https://android.googlesource.com/platform/packages/apps/Messaging
[submodule "android/google_provider_telephony_core"]
	path = android/google_provider_telephony_core
	url = https://android.googlesource.com/platform/packages/providers/TelephonyProvider
